<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<!-- Aquí puedes definir secciones personalizadas si es necesario -->
	</configSections>

	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Data Source=.;Initial Catalog=SistemaLicenciamiento;Integrated Security=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>